*{
    box-sizing:border-box;
}

/*Aqui van los estilos para personalizar la barra */
body::-webkit-scrollbar{
    background-color: rgb(57, 59, 68,0.3);
    width: 8px;

}
body::-webkit-scrollbar-thumb{
    background: rgb(57, 59, 68,0.5);
    border-radius: 5px;
}

/*Aqui va estilos para el encabezado*/
.fondo-barra {
    background-color: #D7D7D7;
}

.colorTexto {
    color: #19D3DA;
}

.opacidad{
    background-color: rgba(57, 59, 68, 0.2);
}

/*Esto es para que por defecto siempre tenga los links invisibles*/
.link-aparecidos{
    display: none;
}

/*Cuando tenga 767.5px se minimizará y se aplicaran las siguientes clases*/
@media(max-width:767.5px)
{
    .minimizado{
        margin-top: 1vw;
    }
    
    .link-aparecidos{
        display: block;
    }
    #botonIniciarSesion{
        display: none;
    }
    #botonRegistrarse{
        display: none;
    }
}

/*Aqui va lo que va en medio*/
.medio{
   background-color: rgba(141, 147, 171, 1);
   width: 100%;
   height: auto;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}

.animado{
    opacity: 0;
    transition: all 0.5s;
}

.animadoIzquierda{
    opacity: 0;
    transition: all 0.5s;
}

.caja{
    padding: 0px;
    width: 30vw;
    margin-top: 5%;
    margin-bottom: 5%;
}


.linea{
    border-left: 6px solid white;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.mostrarArriba{
    animation: mostrarArriba 1s;
    border: none;
}

.mostrarIzquierda{
    animation: mostrarIzquierda 1s;
    border: none;
}

.ponerAbajo{
    margin-top: 50%;
}

/*Aqui con el translateX (-80) se moverá de izquierda a derecha
Con el translateY(-80px) de arriba a abajo y si es positivo de abajo a arriba*/
@keyframes mostrarArriba{
    0%{
        transform: translateX(-80px);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes mostrarIzquierda{
    0%{
        transform: translateX(80px);
    }
    100%{
        transform: translateX(0);
    }
}






/*Estilos para el carousel de fotos*/
.slide img {
    height: 100vh;
}

.carousel-caption {
    right: 39%;
    bottom: 100px;
    /* Cambiar bottom por top y los píxeles que necesites */
    left: 39%;
    padding-top: 1vw;
    padding-bottom: 1vw;
    color: #fff;
    text-align: center;
    background-color: rgba(19, 7, 7, 0.5);
}

