#fondo{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image:url("../img/kimi.jpg");
}
.opacidad{
    width: 100%;
   background-color: rgb(57, 59, 68,0.5); 
}

#cajaPrincipal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cajaInicio{
    text-align: center;
    width: 23%;
    height: 35%;
    background-color: rgb(57, 59, 68,0.2);
}

.arriba{
    padding-top: 5px;
}
.centrarBoton{
    display: flex;
    justify-content: center;
    align-items: center;
}
body::-webkit-scrollbar{
    background-color: rgb(57, 59, 68,0.3);
    width: 8px;
    
}
body::-webkit-scrollbar-thumb{
    background: rgb(57, 59, 68,0.5);
    border-radius: 5px;
}

/*Cuando la pantalla se minimize el cuadro de iniciar sesion se va ajustar al tamaño de la pantalla*/
/*HORIZONTAL*/
@media(min-width:1701px) and (max-width:1800px)
{
    #cajaInicio{
        width: 27%;
    }
}
@media(min-width:1388px) and (max-width:1700px)
{
    #cajaInicio{
        width: 30%;
    }
}
@media(min-width:1200px) and (max-width:1387px)
{
    #cajaInicio{
        width: 35%;
    }
}
@media(min-width:1042px) and (max-width:1199px)
{
    #cajaInicio{
        width: 40%;
    }
}
@media(min-width:919px) and (max-width:1041px)
{
    #cajaInicio{
        width: 45%;
    }
}
@media(min-width:832px) and (max-width:918px)
{
    #cajaInicio{
        width: 50%;
    }
}
@media(min-width:728px) and (max-width:831px)
{
    #cajaInicio{
        width: 55%;
    }
}
@media(min-width:662px) and (max-width:727px)
{
    #cajaInicio{
        width: 60%;
    }
}
@media(min-width:603px) and (max-width:661px)
{
    #cajaInicio{
        width: 65%;
    }
}
@media(min-width:551px) and (max-width:602px)
{
    #cajaInicio{
        width: 70%;
    }
}
@media(min-width:500px) and (max-width:550px)
{
    #cajaInicio{
        width:80%;
    }
}
/*VERTICAL*/
@media(min-height:834px) and (max-height:900px)
{
    #cajaInicio{
        height:38%;
    }
}
@media(min-height:760px) and (max-height:833px)
{
    #cajaInicio{
        height:41%;
    }
}
@media(min-height:713px) and (max-height:759px)
{
    #cajaInicio{
        height:44%;
    }
}
@media(min-height:660px) and (max-height:712px)
{
    #cajaInicio{
        height:48%;
    }
}
@media(min-height:611px) and (max-height:659px)
{
    #cajaInicio{
        margin-top: 11%;
        height:51%;
    }
}
@media(min-height:577px) and (max-height:610px)
{
    #cajaInicio{
        margin-top:14% ;
        height:54%;
    }
}
@media(min-height:539px) and (max-height:576px)
{
    #cajaInicio{
        margin-top: 17%;
        height:58%;
    }
}
@media(min-height:539px) and (max-height:576px)
{
    #cajaInicio{
        margin-top: 20%;
        height:58%;
    }
}
/*Cuando tenga 767.5px se minimizará y se aplicaran las siguientes clases*/
@media(max-width:767.5px)
{
    .minimizado{
        margin-top: 1vw;
    }
    
    .link-aparecido{
        display: block;
    }
    #botonIniciarSesion{
        display: none;
    }
    #botonRegistrarse{
        display: none;
    }
}
/*Esto es para que por defecto siempre tenga los links invisibles*/
.link-aparecidos{
    display: none;
}