/*Fondo de pantalla*/
#fondo{
    position: absolute;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

/*Estilos Barra de Navbar*/
.opacidad{
    width: 100%;
   background-color: rgb(57, 59, 68,0.5); 
}

#cajaPrincipal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cajaInicio{
    text-align: center;
    /*width: 23%;
    height: 35%;*/
    background-color: rgb(57, 59, 68,0.2);
}


.centrarBoton{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Estilos para el scroll de navegacion*/
body::-webkit-scrollbar{
    background-color: rgb(57, 59, 68,0.3);
    width: 8px;
    
}
body::-webkit-scrollbar-thumb{
    background: rgb(57, 59, 68,0.5);
    border-radius: 5px;
}
.ajustarScore{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: flex-end;
    align-items: baseline;
    flex-wrap: wrap;
}
.ajustarUrl{
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.centrar{
    display: flex;
    justify-content: center;
}
.centrarTodo{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
}
.centrarTodo2{
    height: 100%;
    display: flex;
    justify-content: center;

}

.ponerDerechaAjeno{
    margin-left: 75%;
}

.colorPrincipal{
    background-color: #393b44;
}
.colorSecundario{
    background-color: #8d93ab;
}
.fondoAnime{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/animezone-82466.appspot.com/o/Mangas%2Fanime_mashup.jpg?alt=media&token=489e61f2-193d-4c8f-9f0f-49b9a43e65ca%22");
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;

}