*{
    box-sizing:border-box;
}

/*Aqui van los estilos para personalizar la barra */
body::-webkit-scrollbar{
    background-color: rgb(57, 59, 68,0.3);
    width: 8px;

}
body::-webkit-scrollbar-thumb{
    background: rgb(57, 59, 68,0.5);
    border-radius: 5px;
}

/*Aqui va estilos para el encabezado*/
.opacidad{
    background-color: rgba(57, 59, 68, 0.2);
}


/*Aqui va lo que va en medio*/
.medio{
   background-color: rgba(57, 59, 68, 1);
   width: 100%;
   height: auto;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}

.animado{
    opacity: 0;
    transition: all 0.5s;
}

.animadoIzquierda{
    opacity: 0;
    transition: all 0.5s;
}

.caja{
    padding: 0px;
    width: 30vw;
    margin-top: 5%;
    margin-bottom: 5%;
}
.caja2{
    padding: 0px;
    width: 30vw;
    margin-top: 50%;
    margin-bottom: 50%;
}
.caja3{
    background-color: red;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 0;
}

.linea{
    border-left: 3px solid rgb(141, 147, 171,0.5);
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
@media(max-width:720px) {
    .linea{
        display: none;
    }
    .caja3{
        height: 10%;
        display: block;
    }
    .caja{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.mostrarArriba{
    animation: mostrarArriba 1s;
    border: none;
}

.mostrarIzquierda{
    animation: mostrarIzquierda 1s;
    border: none;
}

.ponerAbajo{
    margin-top: 70%;
}
.ponerAbajoIzquierda{
    margin-top: 60%;
}
.ponerAbajoDerecha{
    margin-top: 55%;
}


/*Aqui con el translateX (-80) se moverá de izquierda a derecha
Con el translateY(-80px) de arriba a abajo y si es positivo de abajo a arriba*/
@keyframes mostrarArriba{
    0%{
        transform: translateX(-80px);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes mostrarIzquierda{
    0%{
        transform: translateX(80px);
    }
    100%{
        transform: translateX(0);
    }
}






/*Estilos para el carousel de fotos*/
.slide img {
    height: 100vh;
}

.carousel-caption {
    right: 39%;
    bottom: 100px;
    /* Cambiar bottom por top y los píxeles que necesites */
    left: 39%;
    padding-top: 1vw;
    padding-bottom: 1vw;
    color: #fff;
    text-align: center;
    background-color: rgba(19, 7, 7, 0.5);
}


.card:hover {
    transform: translateY(-20px);
    transition: all 0.5s;
    box-shadow: 0 12px 16px rgb(0, 0, 0,0.2);
}


